<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fireCamp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F2673381C1F89E000D67765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F2673511C1F89E000D67765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F26735C1C1F89E000D67765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
